/* src/styles.css */
body {
    background-image: url('../../assets/R.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-container {
    background-image: url('../../assets/R.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Full viewport height */
    display: flex;
    /* Allows centering content inside */
    align-items: center;
    justify-content: center;
}